* {
  box-sizing: border-box; }
  
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 36px;
  line-height: 1.5;
  color: #606c71; 
   background: blue;
}

h1 {
  text-align: center;
}
  
  p {
    
    height: 200px;
   
    padding: 5px;
  }
  
    
.First {
  background: green;
  width: 100%;}
  
    #hone {
      Position: relative;
  background: black;
  width: 30%;
   border: 2px solid yellow;
    float: left;
    text-align: center;
    margin: 10px;
}

#p1 {
  Position: relative;
  top: 0px;
  left:0px;
}

#hthree {
  background: red;
  width: 30%;
  float: left;
  text-align: center;
  margin: 10px;
   border: 2px solid yellow;
}

#htwo {
  background: violet;
  width: 30%;
    float: left;
     text-align: center;
     margin: 10px;
      border: 2px solid yellow;
}

@media (min-width: 992px) { 
  .First {
  background: green;
  width: 100%;}
  
  #hone {
  background: black;
  width: 30%;
   border: 2px solid yellow;
    float: left;
    text-align: center;
    margin: 10px;
}

#hthree {
  background: red;
  width: 30%;
  float: left;
  text-align: center;
  margin: 10px;
   border: 2px solid yellow;
}

#htwo {
  background: violet;
  width: 30%;
    float: left;
     text-align: center;
     margin: 10px;
      border: 2px solid yellow;
}
  }

@media (min-width: 768px) and (max-width: 991px) {
   .First {
  background: green;
  width: 100%;}
  
  #hone {
  background: black;
  width: 45%;
   border: 2px solid yellow;
    float: left;
    text-align: center;
    margin: 10px;
}

#hthree {
  background: red;
  width: 92.5%;
  float: left;
  text-align: center;
  margin: 10px;
   border: 2px solid yellow;
}

#htwo {
  background: violet;
  width: 45%;
    float: left;
     text-align: center;
     margin: 10px;
      border: 2px solid yellow;
}
   }

@media (max-width: 767px) {
  
   .First {
  background: green;
  width: 100%;}
  #hone {
  background: black;
  width: 100%;
   border: 2px solid yellow;
    float: left;
    text-align: center;
    margin: 10px;
}

#hthree {
  background: red;
  width: 100%;
  float: left;
  text-align: center;
  margin: 10px;
   border: 2px solid yellow;
}

#htwo {
  background: violet;
  width: 100%;
    float: left;
     text-align: center;
     margin: 10px;
      border: 2px solid yellow;
}
  }
